body{  
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
main{
    width: 600px;
    height: 600px;
    background-color: red;
    margin: auto;
    padding: 20px;

}

/* ~~ Página Inicial ~~ */

#container-menu{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item{
}

button{
    height: 100%;
    width: 100%;
    background-color: aqua; 
}

#addButton{
    background-color: cyan;
}
#subButton{
    background-color: lime;
}
#multButton{
    background-color: yellow;
}
#divButton{
    background-color: magenta;
}

/* ~~ Base ~~ */
#container-game{
    background-color: lime;
}
#container-game div{
    width: 100%;
}

#container-head{
    background-color: aqua;
    height: 100%

}
#score{
    height: 25px;
    background-color: deeppink;
}
#lifebar{
    height: 5px;
    background-color: pink;
}

#container-show{
    background-color: brown;
    height: 50%;
}
#question{
    height: 200px;
    background-color: cyan;
}
#timer{
    height: 5px;
    background-color: magenta;
    
}
#answers{
    height: 100px;
    background-color: yellowgreen;

}

#container-foot{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}
#answerStatus{
    height: 20px;
    background-color: whitesmoke;
}
#finalizar{
    height: 50px;
    background-color: darkcyan;

}
@media(max-width: 600px){

    main{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

}
