body{  
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    
main{
    width: 600px;
    height: 600px;
    background-color: red;
    margin: auto;
    padding: 20px;

}

/* ~~ Página Inicial ~~ */

#container-menu{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item{
}

button{
    height: 100%;
    width: 100%;
    background-color: aqua; 
}

#addButton{
    background-color: cyan;
}
#subButton{
    background-color: lime;
}
#multButton{
    background-color: yellow;
}
#divButton{
    background-color: magenta;
}

/* ~~ Base ~~ */
#container-game{
    background-color: lime;
}
#container-game div{
    width: 100%;
}

#container-head{
    background-color: aqua;
    height: 100%

}
#score-row{
    display: flex;
    background-color: deeppink;
}

h1, p{
    text-align: center;
}

#lifebar{
    height: 15px;
    background-color: pink;
}
#lifebar-area{
    display: flex;
}
.life{
    width: 10% !important;
    height: 5px;
    margin: 5px;
    background-color: darkorange;
}
.life-empty{
    width: 10% !important;
    height: 5px;
    margin: 5px;
    background-color: firebrick;
}

#container-show{
    background-color: brown;
    height: 50%;
}

#question{
    padding: 20px 0;
    background-color: greenyellow;
    text-align: center;
}
.question-item{
    font-size: 5em;
    margin: 20px;
}

#timer{
    height: 15px;
    background-color: magenta;
    padding: 5px 0;
}
#timebar{
    background-color: bisque;
    height: 5px;
}
#timebar-filled{
    background-color: red;
    margin: 2px 0;
    width: 60% !important;
    height: 5px;
}
#answers{
    background-color: yellowgreen;

    display: flex;
}
.answer-item{
    margin: 5px 15px;
    padding: 10px 0;
    background-color: blue;

    text-align: center;
}

#container-foot{
    background-color: blueviolet;
}
#answer-status-row{
    text-align: center;
    height: 20px;
    background-color: whitesmoke;
}
#finalizar{
    height: 50px;
    background-color: darkcyan;
    text-align: center;
}

@media(max-width: 600px){

    main{
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

}
